<%link_to "Return Home", home_path%>

<ul>
<% @songs.each do |song| %>
<li>
  <%= link_to song.name, song_path(song) %>
  By: <%= link_to song.artist.name, artist_path(song.artist) %>
</li>
<% end %>
</ul>
