<style media="screen">
  body {
    background-color: $color5;
  }
</style>

<%link_to "Return Home", home_path%>
  <div class="container-fluid search" style="overflow:scroll; height:650px;">
    <div class="row">
      <div class="col-md-4">
        <div class="search-header-box">
          <h2>Song Title</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="search-header-box">
          <h2>Artist</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="search-header-box">
          <h2>Album</h2>
        </div>
      </div>
    </div>
    <% @songs.each do |song| %>
      <div class="row search-result-songs">
        <div class="col-md-4">
          <h4><%= link_to song.name, song_path(song) %></h4>
        </div>
        <div class="col-md-4">
          <h4><%= link_to song.artist.name, artist_path(song.artist)  %></h4>
        </div>
        <div class="col-md-4">
          <h4><%= song.album_name %></h4>
        </div>
      </div>
    <% end %>
  </div>
