<div class="blackout">
  <%link_to "Return Home", home_path%>
    <div class="container-fluid search" style="overflow:scroll; height:650px;">
      <div class="row">
        <div class="col-md-4">
          <div class="search-header-box">
            <h2>Song Title</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-header-box">
            <h2>Artist</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-header-box">
            <h2>Album</h2>
          </div>
        </div>
      </div>
        <div class="row search-result-songs">
          <div class="col-md-4">
            <h4><%= link_to @song_data["name"], song_path(Song.find_or_create_by(spotify_song_id: song_data["id"])) %></h4>
          </div>
          <div class="col-md-4">
            <h4><%= link_to Artist.find_or_create_by(artist_name: song_data["artists"][0]["name"]), artist_path(Artist.find_or_create_by(artist_name: song_data["artists"][0]["name"])) %></h4>
          </div>
          <div class="col-md-4">
            <h4><%= song.album_name %></h4>
          </div>
        </div>
    </div>
  </div>
