Are you sure you want to delete your account? This cannot be undone!
<br><br>
<p><%= link_to "Cancel", home_path %></p>
<p><%= link_to "Permanently Delete Account", registrations_path, method: "Delete" %></p>
