<div class="container-fluid blackout">
  <%link_to "Return Home", home_path%>
  <div class="col-md-2">
  </div>
  <div class="col-md-8 trending-songs-artists">
    <div class="search" style="overflow:scroll">
      <div class="row">
        <div class="col-md-4">
          <div class="search-header-box">
            <h2>Song Title</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-header-box">
            <h2>Artist</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-header-box">
            <h2>Koko Score</h2>
          </div>
        </div>
      </div>
      <%@ordered_songs_hash.each do |song, score| %>
        <div class="row search-result-songs">
          <div class="col-md-4">
            <h4><%= link_to song.name, song_path(song) %></h4>
          </div>
          <div class="col-md-4">
            <h4><%= link_to song.artist.name, artist_path(song.artist)  %></h4>
          </div>
          <div class="col-md-4">
            <h4><%=render partial: "application/stars", locals: {score: score}%></h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-2">
  </div>
  </div>
