@import "palette";

// general
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: $color4;
}
a:hover, a:active, a:visited {
  color: $color4;
  text-decoration: underline;
}

.alert {
  background-color: $color2;
  margin-bottom: 0;
}

.blackout {
  background-color: $color5;
}

.offwhite {
  background-color: $color1;
}

/* Display the vote icons inline */
form.votes-form { display: inline; }

.votes-form > button {
  background-color: Transparent;
  border: none;
}

.selected-up > button {
  color: $color4;
}

.selected-down > button {
  color: $color2;
}

.form-group {
  height: 100%;
  width: 100%;
  margin: 0;
  background: $color1;
}

 #signup {
   width: inherit;
   vertical-align: center;
   position: relative;
   height: inherit;
   margin: 0 auto;
   background: $color1;
 }

 #login {
   width: inherit;
   vertical-align: center;
   position: relative;
   height: inherit;
   margin: 0 auto;
 }

input[type=submit] {
    border-radius: 5px;
    width: 80px;
    height:30px;
    padding: 0;
    border: none;
    font-weight: bold;
    background: $color4;
}
