@import "palette";

// general
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: $color4;
}
a:hover, a:active, a:visited {
  color: $color4;
  text-decoration: underline;
}

.alert {
  background-color: $color2;
  margin-bottom: 0;
}

.blackout {
  background-color: $color5;
}

.offwhite {
  background-color: $color1;
}

/* Display the vote icons inline */
form.votes-form { display: inline; }

.votes-form > button {
  background-color: Transparent;
  border: none;
}

.selected-up > button {
  color: $color4;
}

.selected-down > button {
  color: $color2;
}

.search {
  background: $color1;
  border-radius: 4px;
  overflow: scroll;
  height:100%;
  min-height: 100%;
  padding:1em;
  border-color: $color5;
  margin-right: 6em;
  margin-left: 6em;
}

.search-header-box {
  background: $color1;
  color: $color5;
  text-align:center;
  vertical-align: middle;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: .25em;
}

.search-result-songs {
  text-align:center;
  margin-bottom: 20px;
  margin-top: 10px;
}


.dashboard-title{
  text-align: center;
}

.dashboard-sub-title {
  text-align: center;
}

.dashboard-text{
  text-align: center;
}

.dashboard-no-result {
  font-size:150%;
  text-align: center;
  color: $color4;
  margin-top: 4px;
}

.dashboard-text-left {
  text-align: center;
  padding-right: 2.75em;
}


.trending-songs-wrapper {
  background-color: $color1;
  height: 85%;
  min-height: 85%;
  border-width: thin;
  border-color: black;
  border-radius: 4px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.dashboard-right-col {
  background-color: $color1;
  height: 100%;
  min-height: 100%;
  border-width: thin;
  border-color: black;
  border-radius: 4px 0px 0px 4px;
  padding-right: 0px;
  margin-right: 0px;
}

.right-div {
  height: 85%;
  min-height: 85%;
  margin-top: .5em;
  margin-bottom: .5em;
  padding-right: 0px;
}

.friends-dash{
  background-color: $color1;
  border-radius: 4px;
  max-height: 75%;
  overflow: scroll;
}

.suggested-dash {
  background-color: $color1;
  border-radius: 4px;
  max-height: 75%;
  overflow: scroll;
}

.trending-dash {
  background: $color1;
  border-radius: 4px;
  max-height: 75%;
  overflow: scroll;
}

.form-group {
  height: 100%;
  width: 100%;
  margin: 0;
  background: $color1;
}

 #signup {
   width: inherit;
   vertical-align: center;
   position: relative;
   height: inherit;
   margin: 0 auto;
   background: $color1;
 }

 #login {
   width: inherit;
   vertical-align: center;
   position: relative;
   height: inherit;
   margin: 0 auto;
 }

.no-pad-dash {
  padding: 0px;
  padding-right: 15px;
  height: 100%;
  min-height: 100%;
}

.dashboard-right-col-logged-out {
  background-color: $color2;
  height: 85%;
  min-height: 85%;
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 4px;
  padding-right: 0px;
  margin-right: 0px;
}

.dash-search {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 10em;
}

.pitch {
  margin-top: 10px;
  color: $color1;
}

#pitch-1 {
  margin-left: .5em;
}

#pitch-2 {
 margin-right: 0.5em;
}

#pitch-3 {
  margin-right: 1.5em;
}

.home-search {
  padding-left: 2.5em;
}

.search-field-simple {
  width: 400px;
  height: 32px;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  text-align: center;
  border-color: #ddd;
  margin: auto;
  background: $color1;
}

#search-submit-simple {
  color: $color4;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  float: right;
}

#search-submit-2 {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: $color3;
}

.search-field-simple:focus {
  transition-duration: .4s;
	outline: none;
	border:none;
	border-bottom: 4px solid $color2;
}

.search-field-simple:active {
  transition-duration: .4s;
	width:285px;
	outline: none;
	border-bottom: 4px solid $color2;
}

#search-field-2 {
  width: 400px;
  height: 32px;
  border-radius: 10px;
  border: solid;
  border-width: thin;
  text-align: center;
  border-color: #ddd;
}

#search-field-2:focus {
  transition-duration: .4s;
	outline: none;
	border:none;
	border-bottom: 4px solid $color2;
}

#search-field-2:active {
  transition-duration: .4s;
	outline: none;
	border-bottom: 4px solid $color2;
}

.search-header-box > h2 {
  margin: 0px;
}

.trending-songs-artists {
  position: relative;
  border-radius: 4px;
  height: 85%;
  min-height: 85%;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.titles {
  font-weight: bold;
}

.modal-header {
  background: $color4;
  border-bottom: 2px;
  border-color: $color5;
}

.modal-title {
  font-weight: bold;

}

.modal-body {
  background: $color1;
}

.modal-content {
  background: $color1;
  border: 0;
}

input[type=submit] {
    border-radius: 5px;
    width: 80px;
    height:30px;
    padding: 0;
    border: none;
    font-weight: bold;
    background: $color4;
}

.artist_show_content {
  padding-top: 1em;
  background: $color1;
  border: none;
  border-radius: 10px;
  margin-bottom: .5em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

.artist_show_content_head {
  color: $color1;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

#artist_show_name {
  color: $color1;
  margin-left: 1em;
}



html, body {
    height: 100%;
}
.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 30px 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns {
    background-color: #C9E6FF;
    height: 100%;
}

.content-area, .article-tree{
    background: #bada55;
    overflow:auto;
    height: 100%;
}

#trending-artists {
  height: 750px;
}

#profile-row {
  height: 85%;
  min-height: 85%;
}

#song-row {
  height: 70%;
  min-height: 70%;
}

#navbar-container-fluid {
  padding: 0;
}
