/* Coolors Exported Palette - coolors.co/f5f5c9-f2dd6e-f2a05c-db5461-2a2b2a */

/* HSL */
$color1: hsla(60%, 69%, 87%, 1);
$color2: hsla(50%, 84%, 69%, 1);
$color3: hsla(27%, 85%, 65%, 1);
$color4: hsla(354%, 65%, 59%, 1);
$color5: hsla(120%, 1%, 17%, 1);

/* RGB */
$color1: rgba(245, 245, 201, 1);
$color2: rgba(242, 221, 110, 1);
$color3: rgba(242, 160, 92, 1);
$color4: rgba(219, 84, 97, 1);
$color5: rgba(42, 43, 42, 1);
