<%final_array.each do |reviewer|%>
      <div class="row">
      <div class="col-md-4">
        <p class="dashboard-text">
        <%= link_to reviewer[1].song.name, song_path(reviewer[1].song)%>
        </p>
      </div>
        <div class="col-md-5">
        <p class="dashboard-text">
          <%= reviewer[1].content%><br>
          Reviewer: <%= link_to reviewer[0].user_name, show_profile_path(reviewer[0]) %>
        </p>
        </div>
        <div class="col-md-3">
        <p style="font-size: 10px" class="dashboard-text">
          <%= render partial: "stars", locals: {score: reviewer[1].song_score} %>
        </p>
        </div>
      </div>
    <%end%>
