    <div class="row">
      <div class="col-md-12">
        <h1 class="dashboard-title">Trending Songs</h1>
      </div>
    </div>

    <div class="col-md-12 trending-dash">
      <div class="row">
        <div class="col-md-6">
          <h4 class="dashboard-sub-title">Song</h4>
         </div>
        <div class="col-md-6">
          <h4 class="dashboard-sub-title">Koko's Score</h4>
        </div>
      </div>

      <div class="row">
      <%ordered_songs_hash.each do |song, score|%>
      <div class="row">

        <div class="col-md-6">
          <p class="dashboard-text">
            <%=link_to song.name, song_path(song)%>
          </p>
        </div>
        <div class="col-md-6">
        <p class="dashboard-text">
          <%=score%>
        </p>
        </div>
      </div>
      <%end%>
    </div>
  </div>
